@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Create Exercise";
}

@using WorkoutApp.Domain
@model WorkoutApp.Models.ExerciseDto

@await  Html.PartialAsync("_navigation")

<div class="admUI">
    <h1>Create Exercise</h1>

    <form action="/bdbusr/createexercise" method="post">
        @Html.AntiForgeryToken()

        <input type="text" name="Name" placeholder="Enter exercise name..." />

        <select name="Type">
            @foreach (var e in Enum.GetValues(typeof(ExerciseType)))
            {
                if (e.ToString() == "none")
                {
            <option value="@e" selected>@e</option>
                }
                else
                {
            <option value="@e">@e</option>
                }
            }
        </select>

        <button type="submit">Create</button>
    </form>
    <a href="/bdbusr/viewexercises">View Exercises</a>
    <a href="/bdbusr/">Admin Home</a>
</div>